@import "tailwindcss";

.custom-card-active {
    width: 110%;
    margin-left: -5%;
    height: 82%;
    background-color: var(--cardBackgroundColor);
    z-index: 10; /* Ajusta el valor de z-index según sea necesario */   
}


.custom-card-active h3{
    margin-top: 12%;
}

.relative{
    color: transparent;
}
.custom-card-inactive{
    width: 100%;
    height: 70%;
    background-color: var(--cardBackgroundColor);
}

.custom-card-home{
    box-shadow:  6px 6px 12px var(--background-color),
             -6px -6px 12px var(--background-color);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-content: start;
    align-items: center;
    transition:  all 0.7s ease-out;
    cursor: pointer;
    &:hover{
        box-shadow:  6px 6px 12px #f7f7f757 ,
             -6px -6px 12px #f7f7f757 ;
    }
}

.custom-descrip-card{
    padding: 8%;
    height: 45%;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    color: var(--colorTextBase);
}
.custom-card-inactive .custom-descrip-card{
    color: #a5a0a0;
}

.custom-text-card{
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    margin-top: 10%;
}

.custom-autor-card{
    font-family: "Josefin Sans", sans-serif;
    color: #a5a0a0;
    text-align: center;
}

.custom-btn{
    background-color: var(--cardBackgroundColor);
    color: var(--colorTextBase);   
    border: 1px solid var(--cardBackgroundColor);
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid white;
    height: 10%;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: center;
    align-content: center;
    transition:  all 0.7s ease-out;

    &:hover{
        border: 0px;

        background-color: #e2d8d8e6;
        color: #0e0c0c;   
        box-shadow:  2px 2px 6px #a5a0a0,
        -2px -2px 6px #997cddb0;
    }
}


@media (max-width: 768px) {
    .custom-card-home{
        height: 100%;
        width: 100%;
        margin: 0;
        margin-bottom: 30%;
        z-index:0;
    }
    .custom-card-inactive .custom-descrip-card{
        color: var(--colorTextBase);
    }
    .custom-text-card{
        color: var(--colorTextBase);
        font-size: 120%;
    }

  }
  