@font-face {
  font-family: 'Anurati-gilia';
  src: url('../../Assets/fonts/Anurati.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}
.link-text{
  color: var(--colorTextBase);
  transition: color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 3ch;

}
.ant-menu-horizontal{
  padding-top: 1%;
}
.theme-toggle-container{
  padding-top: 1%;

}

.link-text:hover {
  color: color-mix(in srgb, var(--colorTextBase) 80%, black);
  transition: color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.Menu{
    background-color: var(--backgroundColor); 
    flex: 1;
    overflow: visible;
    display: flex; 
    justify-content: flex-end; 
}

.Menu-Container {

  margin-top: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  outline: none;
}

.Menu-item {
  font-size: 100%;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600; /* Equivalente a semibold */
  border-radius: 10%;
  color: var(--colorTextBase);
}

.ant-menu-overflow {
  align-self: center;
  border: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}


.ant-menu-title-content{
  color: var(--colorTextBase);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}


:where(.css-dev-only-do-not-override-xex5fb).ant-menu-light.ant-menu-submenu-popup>.ant-menu, :where(.css-dev-only-do-not-override-xex5fb).ant-menu-light>.ant-menu.ant-menu-submenu-popup>.ant-menu{
  background-color: color-mix(in srgb, var(--backgroundColorSecondary) 50%, var(--backgroundColor));
}

:where(.css-dev-only-do-not-override-xex5fb).ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-xex5fb).ant-menu-light>.ant-menu .ant-menu-item-selected {
  background-color: var(--backgroundColor);
}
.Menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  border: none;
      font-family: "Josefin Sans", sans-serif;

}

.logo-item {
  display: flex;
  align-items: center;
  font-family: 'Anurati-gilia';
  font-size: 300%;
  letter-spacing: 10px;
  margin-right: auto;
  margin-left: 4%;
  
}

.logo-text{
  color: var(--colorTextBase);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.Menu .ant-menu-item {
  margin-right: 3%;
  color: var(--colorTextBase);

}
.li{
  align-self: center;
}
.Menu .ant-menu-item:not(.ant-menu-item-selected):hover {
  background-color: color-mix(in srgb, var(--backgroundColorSecondary) 50%, var(--backgroundColor));
  border-radius: 3ch;
  color: var(--colorTextBase);
}

.Menu .ant-menu-item:not(.ant-menu-item-selected) {
  border-radius: 3ch;
  text-align: center; 
}

.ant-menu-light.ant-menu-horizontal>.ant-menu-item::after,
.ant-menu-light.ant-menu-horizontal>.ant-menu-submenu::after {
  border-bottom: none !important;
}

:where(.css-dev-only-do-not-override-xex5fb).ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected,
:where(.css-dev-only-do-not-override-xex5fb).ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-item-selected,
:where(.css-dev-only-do-not-override-xex5fb).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-selected,
:where(.css-dev-only-do-not-override-xex5fb).ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-submenu-selected {
  background-color: var(--backgroundColorSecondary);
  border-radius: 3ch;
  color: var(--colorTextBase);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

:where(.css-dev-only-do-not-override-xex5fb).ant-menu-light .ant-menu-item {
  color: var(--colorTextBase);
}

:where(.css-dev-only-do-not-override-xex5fb).ant-menu-light .ant-menu-item-selected {
  background-color: var(--backgroundColor);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

:where(.css-dev-only-do-not-override-xex5fb).ant-menu-light .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover {
  color: var(--colorTextBase);
}

.menu-button {
  display: none;
}

/*button menu color dark/light mode */
.menu-icon {
  color: var(--colorTextBase);
}


.theme-toggle-container {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.theme-toggle-button {
  font-size: 15px;
  color: var(--colorTextBase);
}

/*este es para la cruz y el logo de dark/light mode*/
.ant-drawer-header span {
  color: var(--colorTextBase);
}

.anticon{
  color: var(--colorTextBase) ;
}


@media (max-width: 768px) {


  .logo-item {
    margin-top: 5%;
    font-size: 250%;
  }

  .menu-button {
    display: block;
    margin-right: 20px;
  }

  .Menu {
    display: none;
  }

  .theme-toggle-container {
    display: none;
  }


}

:where(.css-dev-only-do-not-override-xex5fb).ant-menu-light.ant-menu-horizontal >.ant-menu-item, :where(.css-dev-only-do-not-override-xex5fb).ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-item, :where(.css-dev-only-do-not-override-xex5fb).ant-menu-light.ant-menu-horizontal >.ant-menu-submenu, :where(.css-dev-only-do-not-override-xex5fb).ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-submenu {
  border-radius: 3ch;
  margin-right: 20px;
}
