@import "tailwindcss";
.custom-presentation{
    animation: scaleAppear 0.6s ease-out;
}

.custom-font{
    font-family: "Open Sans", sans-serif;
    color: var(--colorTextBase);
    font-size: 320%;
}

.custom-color{
    color: var(--colorTextBase);
    font-family: "Open Sans", sans-serif;
    background-color: transparent; 
    border-radius: 2rem;
}
.custom-back{
    background-color: var(--backgroundColorSecondary);
}

@media (max-width: 768px) {
    .custom-font {
      font-size: 200%; 
    }
    .custom-subtext{
        margin-left: 5%;
        width: 90%;
    }
    .custom-subtext a{
        font-size: 80%;
    }
}
  