.titulo-linea-investigacion {
  font-family: "Playwrite AU QLD", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  margin-bottom: 2%;
  font-size: 200%;
  text-align: center;
}

.text-linea-investigacion {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 120%;
  line-height: 1.9;
  text-align: justify;
}

.integrantes-lista {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
