.inputField {
    padding: 8px 16px;
    border: 1px solid var(--shadowbotom);
    border-radius: 4px;
    background-color: var(--backgroundColorSecondary);
    color: var(--colorTextBase);
    font-size: 14px;
    width: 100%;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
  }
  
  .inputField:focus {
    outline: none;
    border-color: var(--colorPrimario);
  }
  